

body, p, h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.png");
    display: inline-block;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    display: flex;
    align-items: center;
}

.container__rotulo{
    transition: all 0.3s ease-in-out;
}

.container__botao:checked ~.container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url(../img/angularlogo/menu_black_24dp\ 1.svg);
    
}
.container__botao:checked ~.container__rotulo {
    background-color: var(--cor-azul);
}

.container__imagem-um{
   padding: 0.8em;
}

.container__imagem{
    padding: 0.2em;
 }

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.linta-menu__item:hover{
    background-color: #eb9b00;
    color: var(--cor-cabecalho);
    font-weight: 700;
}
.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu{
    transition: all 0.6s ease-in-out;
}

.linta-menu__titulo,
.linta-menu__item{
    padding: 1em;
    background-color: var(--cor-cabecalho);
    transition: 0.3s all ease-in-out;
}


.linta-menu__titulo{
    color: var(--cor-laranja);
    font-family: var(--font-Poppings);
    font-weight: 700;
    font-size: 1rem;
}

.lista-menu__link{
    background: var(--azul-degrade);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: var(--font-Poppings);
    font-weight: 400;
    font-size: 1rem;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}


@media screen and (min-width: 1024px){

    .container__titulo, .container__titulo--negrito{
        font-family: var(--font-josefina);
        font-size: 1.8rem;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 1em 1em;
        text-transform: uppercase;
        border-radius: 10px 10px 0px 0px;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__imagem_favorito{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--cor-cabecalho);
    }

}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
    }
    .cabecalho {
       padding: 2em 4em;
    }

    .opcoes{
        margin-right: auto;
    }
    .container__texto{
        display: block;
    }
}